* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: rgb(50, 50, 50);
}

.container {
  border: 2px solid orange;
  width: 1000px;
  height: 400px;
}

.frame {
  /* border: 2px solid greenyellow; */
  width: 1000px;
  height: 364px;
  display: flex;
  justify-content: center;
}


.slides {
  /* border: 2px solid red; */
  overflow: hidden;
  display: flex;
}

.slides img.current {
  transition: transform 300ms ease-in-out;
}

.slideToLeft {
  transform: translateX(-538.22px);
}

.slideToRight {
  transform: translateX(538.22px);
}

.arrow-left img,
.arrow-right img {
  height: 100px;
}

.arrow-left,
.arrow-right {
  align-self: center;
  filter: invert(70%);
  cursor: pointer;
}

.bottom {
  border: 2px solid greenyellow;
  display: flex;
  justify-content: center;
}

.bottom img {
  width: 18px;
  filter: invert(70%);
  cursor: pointer;
}
